body {
    font-family: 'Cairo', sans-serif;
    background-color: #f5f5f5;
  }
  
  .navbar {
    background-color: #d4af37;
  }
  
  .navbar-brand,
  .nav-link {
    color: white;
    font-weight: bold;
  }
  
  .nav-link:hover {
    color: #232323;
  }
  
  .card-header {
    background-color: #d4af37;
    color: white;
    font-weight: bold;
  }
  
  .btn-gold {
    background-color: #d4af37;
    color: white;
    border: none;
  }
  
  .btn-gold:hover {
    background-color: #c6a24b;
  }
  
  .table-gold th {
    background-color: #f7ecd3;
    color: #a9841c;
  }
  